{% extends 'base.html.twig' %}

{% block title %}Accueil | SnowTricks{% endblock %}

{% block body %}
    <div class="container-fluid px-0">
        <header class="home-header d-flex flex-column align-items-center justify-content-center">
            <h2 class="home-title">Bienvenue sur SnowTricks !</h2>
            <a class="tricks-anchor-hero" href="#tricks"><span class="fa fa-arrow-down fa-3x"></span></a>
        </header>

        <div id="tricks" class="container-fluid d-flex flex-column my-2">
            <div id="tricks-container" class="row justify-content-center mx-2 my-4">

            </div>
            <button id="load-more" class="btn btn-primary align-self-center">Plus</button>
            <a class="tricks-anchor align-self-end" href="#tricks"><span class="fa fa-arrow-up fa-3x"></span></a>
        </div>
    </div>

    <div class="modal" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression d'un trick</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous certain de vouloir supprimer ce trick ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="" type="button" class="btn btn-primary">Oui</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        offset = 0;

        function loadTricks() {
            $.post('{{ path('trick_load_more') }}',
                {offset: offset},
                function(response) {
                    if (response.last) {
                        $('#load-more').hide();
                    }
                    response.output.forEach(trick => {
                        const deletePath = '{{ path('trick_delete', {'name': 'trickName'}) }}'.replace('trickName', trick.name);
                        const updatePath = '{{ path('trick_update', {'name': 'trickName'}) }}'.replace('trickName', trick.name);
                        const showPath = '{{ path('trick_show', {'name': 'trickName'}) }}'.replace('trickName', trick.name);

                        let trickThumbnail = '<img class="trick-thumbnail card-img-top" src="{{ asset('uploads/') }}'+trick.mainPhoto+'" alt="">';
                        if (trick.mainPhoto === null) {
                            trickThumbnail = '<img class="card-img-top trick-thumbnail" src="{{ asset('images/default.png') }}">';
                        }



                        const trickCard = $('<div class="col-lg-2 mx-4 my-3">' +
                            '<div class="card">' +
                            '<a href="'+showPath+'">'+trickThumbnail+'</a>' +
                            '<div class="card-body d-flex justify-content-between">' +
                            '<a href="'+showPath+'">'+trick.name+'</a>' +
                                {% if is_granted('ROLE_ADMIN') %}
                            '<a href="'+updatePath+'"><i class="fas fa-edit"></i></a>' +
                            '<a href="" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="'+deletePath+'"><i class="fas fa-trash-alt"></i></a>' +
                            {% endif %}
                            '</div>' +
                            '</div>');
                       $('#tricks-container').append(trickCard);
                    });
                    offset += 15;
                }, 'json');
        }

        $(document).ready(loadTricks);
        $('#load-more').on('click', loadTricks);

        var deleteModal = document.getElementById('deleteModal')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-bs-whatever')
            var modalFooterA = deleteModal.querySelector('.modal-footer a')
            modalFooterA.href = recipient
        })
    </script>
{% endblock %}