{% extends 'base.html.twig' %}

{% block title %} | SnowTricks{% endblock %}

{% block body %}
    <div class="container-fluid px-0">
        <header class="home-header d-flex flex-column align-items-center justify-content-center">
        </header>
    </div>

    <div class="card trick-card">
        <img class="card-img-top trick-card-img" src="{{ asset('images/default.png') }}" alt="Photo par défaut">
        <div class="card-body d-flex flex-column">
            <div class="row">
                <div class="col-lg-6">
                    {% for trickPhoto in trickPhotos %}
                        <img class="card-img-top" src="" alt="">
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    {% for trickVideo in trickVideos %}
                        <img class="card-img-top" src="" alt="">
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ trick.description }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ trick.creationDate | date("d/m/Y") }}</p>
                    {% if trick.updateDate is same as(trick.creationDate) %}
                        <p>{{ trick.updateDate | date("d/m/Y") }}</p>
                    {% endif %}
                    <p>{{ trick.user }}</p>
                    <p>{{ trick.trickGroup }}</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="offset-3 col-6">
                    {% for trickMessage in trickMessages %}
                        <div class="card my-2">
                            <div class="card-body">{{ trickMessage.content }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}